.gallery{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 150px;
}

.images{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

.image{
    width: 100%;
    border-radius: 10px;
}

.gallery .menu{
    background-color: white;
    color: dimgrey;
    border: 1px solid rgba( 0, 0, 0, 0.1);
    border-radius: 10px;
    position: sticky;
    top: 50px;
}

.menu p{
    cursor: pointer;
    margin: 9px;
}

.menu a{
    text-decoration: none;
    color: dimgrey;
}

.menu p:hover{
    color: black;
    font-weight: bold;
}