.menu{
    background-color: dimgrey;
    padding: 15px;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
}

.menu-link{
    color: white;
    text-decoration: none;
    padding: 15px;
}

.menu-link.active{
    background-color: whitesmoke;
    color: dimgrey;
    font-weight: bold;
}