/*Mobile Styles*/
@media only screen and (max-width: 400px) {
    /*body{
        background-color: burlywood;
    }*/

    .content{
        margin: 10px;
    }

    .footer-columns{
        display: flex;
        flex-direction: column;
    }

    .header{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
    }

    .footer{
        padding: 5px;
    }

    .contact-form{
        padding: 0;
    }

    .gallery{
        display: flex;
        flex-direction: column;
    }

    .category-menu{
        position: sticky;
        top: 88px;
        order: -1;
    }

    .gallery .menu{
        display: flex;
        justify-content: center;
    }

    .gallery .menu p{
        margin: 0 5px;
    }

    .details{
        display: flex;
        flex-direction: column;
    }
}

/*Tablet Styles*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
    /*body{
        background-color: palegreen;
    }*/

    .content{
        margin: 10px;
        max-width: none;
    }

    .header{
        margin: 10px!important;
    }

    .footer-columns{
        display: flex;
        flex-direction: column;
    }

    .gallery{
        display: flex;
        flex-direction: column;
    }

    .category-menu{
        position: sticky;
        top: 69px;
        order: -1;
    }

    .gallery .menu{
        display: flex;
        justify-content: center;
    }

    .gallery .menu p{
        margin: 0 10px;
    }

    .details{
        display: flex;
        flex-direction: column;
    }
}

/*Desktop Styles*/
@media only screen and (min-width: 961px) {
    /*body{
        background-color: aquamarine;
    }*/


}