@import "menu.css";
@import "footer.css";
@import "gallery.css";
@import "contact.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.content{
    max-width: 800px;
    margin: 0 auto;
    display: inherit;
    grid-template-columns: inherit;
}