{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stylus Photography: {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,100&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content">
        <h1>PHOTOGRAPHICA</h1>

        <h3>Ha már unod az egyforma képeket...</h3>
    </div>

    {% include "_menu.html" %}

    <div class="content">
        {% block body %}
            <p>Üres oldal</p>
        {% endblock body %}
    </div>

    <hr>

    <div class="content">
        {% block footer %}
            <h3>PHOTOGRAPHICA</h3>
            <p>Ez egy footer...</p>
        {% endblock footer %}
    </div>
</body>
</html>