<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stylus Photography: {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>PHOTOGRAPHICA</h1>

    <h3>Ha már unod az egyforma képeket...</h3>

    {% include "_menu.html" %}

    <hr>

    {% block body %}
        <p>Üres oldal</p>
    {% endblock body %}

    <hr>

    {% block footer %}
        <h3>PHOTOGRAPHICA</h3>
        <p>Ez egy footer...</p>
    {% endblock footer %}
</body>
</html>