{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}: {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/74f7ef6948.js" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        {% include "_header.html" %}

        {% include "_menu.html" %}

        <div class="content">
            {% block body %}
                <p>Üres oldal</p>
            {% endblock body %}
        </div>
    </div>

    {% include "_footer.html" %}
</body>
</html>