<div class="footer">
    <div class="content">
        <div class="footer-columns">
            {% block footer %}
                <div>
                    <h3>{{ page_title }}</h3>
                </div>
                <div>
                    <small>Cím</small>
                    <p>{{ company }}<br>{{ town }}</p>
                </div>
                <div>
                    <small>Elérhetőség</small>
                    <p>{{ email }}</p>
                    <p>{{ phone }}</p>
                </div>
                <div>
                    <small>Kövess!</small>
                    <div class="icon">
                        <a href={{ instagram }}><i class="fab fa-instagram"></i></a>
                        <a href={{ facebook }}><i class="fab fa-facebook-square"></i></a>
                    </div>
                </div>
            {% endblock footer %}
        </div>
    </div>
</div>