<div class="footer">
    <div class="content">
        <div class="footer-columns">
            {% block footer %}
                <div>
                    <p>Stylus Photography</p>
                </div>
                <div>
                    <p>Cím</p>
                    <p>Visual Workshop Bt.<br>Budapest, Hungary</p>
                </div>
                <div>
                    <p>Elérhetőség</p>
                    <p>snvas15@gmail.com</p>
                    <p>+36-30/540-2941</p>
                </div>
                <div>
                    <p>Kövess!</p>
                    <p>Instagram...</p>
                    <p>Facebook...</p>
                </div>
            {% endblock footer %}
        </div>
    </div>
</div>