<div class="footer">
    <div class="content">
        <div class="footer-columns">
            {% block footer %}
                <div>
                    <p>{{ page_title }}</p>
                </div>
                <div>
                    <small>Cím</small>
                    <p>{{ company }}<br>{{ town }}</p>
                </div>
                <div>
                    <small>Elérhetőség</small>
                    <p>{{ email }}</p>
                    <p>{{ phone }}</p>
                </div>
                <div>
                    <small>Kövess!</small>
                    <p>{{ instagram }}</p>
                    <p>{{ facebook }}</p>
                </div>
            {% endblock footer %}
        </div>
    </div>
</div>