{% extends "_base.html" %}
{% block title %}Gallery{% endblock title %}
{% block body %}

    <div class="gallery">
        <div class="images">
            {% for data in images %}
                <a href="/gallery/photo-details/"><img src="{{ data.image }}" alt="Data error" class="image"></a>
            {% endfor %}
        </div>

        <div>
            <div class="menu">
                {% for category in categories %}
                    <p>{{ category }}</p>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock body %}

{% block footer %}
    <h3>PHOTOGRAPHICA</h3>
    <p>És ez is footer...</p>
{% endblock footer %}