{% extends "_base.html" %}
{% block title %}Gallery{% endblock title %}
{% block body %}

    <div class="gallery">
        <div class="images">
            {% for data in images %}
                <img src="{{ data.image }}" alt="Data error" class="image">
            {% endfor %}
        </div>

        <div>
            <div class="menu">
                <p>Nature</p>
                <p>Sport</p>
                <p>Wedding</p>
                <p>Gaming</p>
            </div>
        </div>
    </div>


{% endblock body %}

{% block footer %}
    <h3>PHOTOGRAPHICA</h3>
    <p>És ez is footer...</p>
{% endblock footer %}