<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stylus Photography: Home</title>
</head>
<body>
    {% include "_header.html" %}

    {% include "_menu.html" %}

    <hr>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloremque molestiae mollitia necessitatibus nisi odit quia ratione saepe tempora, tenetur. Aliquam amet aperiam atque cumque deserunt, dolorum eaque error maiores provident quidem quisquam ratione totam ut! Animi dicta, ea est ex molestiae neque nisi numquam obcaecati ratione, tenetur unde ut?</p>

    <h3>Lorem ipsum dolor sit amet.</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam assumenda at atque consequatur consequuntur eligendi eum id ipsa laudantium magnam, placeat quaerat quia quisquam tempore ut velit! Asperiores commodi corporis cumque distinctio dolorum eligendi est illum incidunt ipsum iusto, laudantium maiores maxime minus mollitia, natus omnis optio pariatur possimus qui quidem quos ratione sequi suscipit ullam velit? Adipisci, amet, beatae consequatur culpa deserunt enim explicabo facilis fugiat harum illum ipsam itaque magnam nulla porro, quae rem veritatis. Alias dolor illum odio praesentium quo recusandae tempora veritatis. Adipisci cumque delectus deleniti itaque, labore laborum minima, neque officiis quasi recusandae voluptas?</p>

    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate doloribus esse necessitatibus nisi non repellendus vero. Commodi et excepturi iure laboriosam natus perferendis quibusdam quo suscipit voluptatem voluptates? A ab at dignissimos distinctio dolor dolorem dolores est ex expedita facilis inventore iure libero necessitatibus, nisi nostrum numquam quam quisquam ratione sed sint temporibus veniam voluptatem voluptatibus! Amet beatae debitis dolorum eligendi exercitationem, illum iste molestias odio porro quam, ut vitae. Accusantium amet atque commodi consequuntur, corporis dolores facilis fugiat harum illo maiores neque placeat quia repudiandae sunt voluptas. Alias at consequuntur esse exercitationem inventore ipsam laborum natus nostrum officiis ut?</p>
</body>
</html>