{% extends '_base.html' %}

{% block title %} Photo Details {% endblock title %}

{% block body %}
    <div class="details">
        <img src="https://source.unsplash.com/1200x900/?gaming,laptop" alt="Data error">

        <div>
            <div class="description">
                <h1>Kép címe</h1>
                <small>2021.09.21.</small>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cumque est explicabo harum illum maiores placeat soluta veniam? Accusantium, dolores.</p>
            </div>
        </div>
    </div>
{% endblock body%}